# Configures debug integration details for
# Open Weather API.
OpenWeatherApiUrlDebug = "https://api.openweathermap.org/"
OpenWeatherAppIdDebug = "<shadowed>"

# Configures release integration details for
# Open Weather API.
OpenWeatherApiUrlRelease = "https://api.openweathermap.org/"
OpenWeatherAppIdRelease = "<shadowed>"
